@model LoginViewModel

<div class="row loginForm">
    <h2 class="loginHead">Crie sua conta em WebStore </h2>
    <div class="col-md-4 col-md-offset-4">
        <form asp-controller="Conta" asp-action="Register" method="post" class="form-horizontal" role="form">
            <h4 class="loginHead">Crie sua nova conta e faça sua primeira compra!</h4>
            <hr />
            <div class="form-group">
                <label asp-for="UserName" class="sr-only"></label>
                <div class="col-md-12">
                    <input asp-for="UserName" class="form-control" placeholder="Username" required autofocus />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="sr-only"></label>
                <div class="col-md-12">
                    <input asp-for="Password" class="form-control" placeholder="Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group pull-right formPullRightButton">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" class="btn btn-success " value="Register" />
                </div>
            </div>
        </form>
    </div>
</div>