<li class="dropdown">
    <a asp-controller="Roupa" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">Categorias<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <li>
                <a asp-controller="Roupa" asp-action="List"
                   asp-route-category="@categoria.CategoriaNome">@categoria.CategoriaNome</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Roupa" asp-action="List" asp-route-category="">Ver todas as roupas</a>
        </li>
    </ul>
</li>